{
{%- if grains.role in  ['tc-standalone', 'tc-eval', 'tc-sensor', 'tc-heavynode', ] %}
  "monint": "{{ salt['pillar.get']('sensor:interface', '') }}",
{%- endif %}
  "manint": "{{ salt['pillar.get']('host:mainint', '') }}"
}
